.popup__button-close{
	width: 11px;
	height: 11px;
	background-color: transparent;
	border: none;
	top: 24px;
	right: 24px;
	position: absolute;
	background-image: url('../../../images/close.svg');
	cursor: pointer;
}
