.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1440px;
	width: 100%;
  padding-bottom: 34px;
}

@media screen and (min-width:320px) and (max-width:1024px){
	.footer{
		flex-wrap: wrap;
		justify-content: unset;
		margin-left: 40px;
	  margin-top:45px;
	  padding-bottom: 68px;
	}
}